<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="Jacob Filer | Web Developer" content="" />
    <meta name="Jacob Filer" content="" />
    <title>Jacob Filer | Web Dev</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    
    @RenderSection("styles", required: false)
    <link href="~/Content/css/custom.css" rel="stylesheet" />
</head>
<body id="page-top container">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Jacob Filer</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#resume">Resume</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()
    <div class="page-section">
        <div id="contactForm">
            @Html.Partial("contactAjax", new MVCPersonalSite.Models.ContactViewModel())
        </div>
        <div id="contactConfirm">
            @Html.Partial("EmailConfirm", new MVCPersonalSite.Models.ContactViewModel())
        </div>
    </div>
    <!-- Footer-->
    <footer class="bg-light py-5 custom-footer">
        <div class="container">
            <div class="row">
                <div class="small text-center text-muted col-md-4">
                    <a href="https://www.linkedin.com/in/jacob-filer/" target="_blank">
                        <i class="fab fa-2x fa-linkedin"></i>
                    </a>
                </div>
                <div class="small text-center text-muted col-md-4">
                    <a href="mailto:jacobwilliamfiler@gmail.com"><i class="fas fa-envelope fa-2x mb-4"></i></a>
                </div>
                <div class="small text-center text-muted col-md-4">
                    <a href="https://github.com/jacobfiler/" target="_blank">
                        <i class="fab fa-2x fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="small text-center text-muted col-md-4">
                    Copyright © 2020 - Start Bootstrap
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/js/scripts.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $("#contactConfirm").hide();
        $("#ContactCreateForm").submit(function (e) {
            var formData = $(this).serializeArray();
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("ContactAjax", "Home")',
                type: 'POST',
                data: formData,
                datatype: 'json',
                success: function (data) {
                    $("#contactForm").hide();
                    $("#contactConfirm").show();
                }

            });
        });
    </script>
</body>
</html>
